{# fw/silex/app/resources/views/books/index.html.twig #}
<section class="books">
    <h2>Books</h2>
    {% for book in books %}
        <div class="book">
            <div class="name">{{ book.title }}</div>
            <div class="author">{{ book.author }}</div>
            <div class="published-date">{{ book.datePublished.format('Y-m-d') }}</div>
            <div class="category">{{ book.category }}</div>
            <hr>
        </div>
    {% endfor %}
</section>
